// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background-image: url(mainpage.jpg);
}

.main-text {
	text-align: center;
	margin-top: 300px;
	color: #C4AAAA;
}